<td class="resultRow"><span>{{stationName}}</span></td>
<td class="resultRow"><span>{{stationNo}}</span></td>
<td class="resultRow"><span>{{departureTime}}</span></td>
<td class="resultRow"><span>{{arrivalTime}}</span></td>

