<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <select class="form-control" id="citySelectAddHome"></select>
        </div>
        <div class="form-group">
            <select class="form-control" id="routeTypeSelectAddHome"></select>
        </div>
        <div class="form-group">
            <select class="form-control" id="routeSelectAdd"></select>
        </div>
        <div class="form-group">
            <select class="form-control" id="stationSelectAdd"></select>
        </div>
    </div>
</div>
<div class="form-inline">
    <label class="forIE8">Güzergah Toplam Süresi</label>
    <input id="totalDurationHomepage" class="form-control" placeholder="Güzergah Toplam Süresi" type="text">

    <label class="forIE8">Peron No</label>
    <input id="peronNoHomepage" class="form-control" onkeypress="return isCharacter(event,this.id)" placeholder="Peron No" type="text">

    <label class="forIE8">Servis Aracı</label>
    <input id="vehicleTypeHomepage" class="form-control" onkeypress="return isCharacter(event,this.id)" placeholder="Servis Aracı" type="text">
</div>
<br/>
<table class="table table-bordered" id="homepageTable" style="background-color: white;">
    <thead class="bg-primary">
    <tr style="color: white;">
        <th class="col-md-3">Durak Adı</th>
        <th class="col-md-3">Durak No</th>
        <th class="col-md-3">Varış Saati(TMMT'den)</th>
        <th class="col-md-3">Kalkış Saati(TMMT'ye)</th>
    </tr>
    </thead>
</table>
<a href="#search" class="btn btn-primary onlyPage" id="searchListButton">
    <i class="glyphicon glyphicon-search"></i>&nbsp;Listeden Sorgula
</a>
<a href="#search" class="btn btn-primary onlyPage" id="searchListButtonSmall">
    <i class="glyphicon glyphicon-search"></i>
</a>
<a class="btn btn-primary onlyPage" id="sendPrinterButton" onclick="printDiv()">
    <i class="glyphicon glyphicon-print"></i>&nbsp;Yazdır
</a>
<a class="btn btn-primary onlyPage" id="sendPrinterButtonSmall" onclick="printDiv()">
    <i class="glyphicon glyphicon-print"></i>
</a>

<a href="#login" class="btn btn-primary onlyPage" style="display: none !important;" id="loginButton">
    <i class="glyphicon glyphicon-wrench"></i>&nbsp;Sistem Yönetici Girişi
</a>
<a href="#login" class="btn btn-primary onlyPage" id="loginButtonSmall">
    <i class="glyphicon glyphicon-wrench"></i>
</a>