<td>
    <span>{{routeTypeName}}</span><input  data-placement="top" title="Boş geçilemez!" type='text' class="form-control text-center" style='display: none;'
                                         value='{{routeTypeName}}'/>
</td>
<td class="resultRow editHeader">
    <button class="btn btn-success btn-sm editRouteType">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;Düzenle
    </button>
    <button class="btn btn-primary btn-sm updateRouteType" style='display: none;'>
        <i class="glyphicon glyphicon-ok"></i>&nbsp;Kaydet
    </button>
</td>
<td class="resultRow removeHeader">
    <button class='btn btn-danger btn-sm deleteRouteType'>
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Sil
    </button>
    <button class="btn btn-danger btn-sm cancelRouteType" style='display: none;'>
        <i class="glyphicon glyphicon-remove"></i>&nbsp;İptal
    </button>
</td>