<table class="table table-bordered" id="searchTable" style="background-color: white; table-layout: fixed;">
    <tr class="bg-primary">
        <th>Şehir</th>
        <th>Güzergah Tipi</th>
        <th>Güzergah</th>
        <th>Güzergah Toplam Süresi</th>
        <th>Peron No</th>
        <th>Servis Aracı</th>
        <th>Durak Adı</th>
        <th>Durak No</th>
        <th>Varış Saati </br> (TMMT'ye)</th>
        <th>Kalkış Saati</br> (TMMT'den)</th>
    </tr>
    <tr class="inputRow">
        <td><input onkeypress="return isNumber(event,this.id)" type="text" id="cityNameSearch" class="form-control"></td>
        <td><input onkeypress="return isNumber(event,this.id)" type="text" id="routeTypeNameSearch" class="form-control"></td>
        <td><input type="text" id="routeNameSearch" class="form-control"></td>
        <td><input type="text" id="totalDurationSearch" class="form-control">
        </td>
        <td><input onkeypress="return isCharacter(event,this.id)" type="text" id="peronNoSearch" class="form-control"></td>
        <td><input type="text" data-placement="bottom" title="1-Minibüs,2-Midibüs,3-Otobüs" id="vehicleTypeSearch"
                   class="form-control"></td>
        <td><input type="text" id="stationNameSearch" class="form-control"></td>
        <td><input onkeypress="return isCharacter(event,this.id)" type="text" id="stationNoSearch" class="form-control"></td>
        <td><input type="text" id="arrivalTimeSearch" class="form-control">
        </td>
        <td><input type="text" id="departureTimeSearch" class="form-control">
        </td>
    </tr>
</table>
<a href="#" class="btn btn-primary onlyPage" id="searchListButton">
    <span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp;Seçerek Sorgula
</a>
<a href="#" class="btn btn-primary onlyPage" id="searchListButtonSmall">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
</a>
<a class="btn btn-primary onlyPage" id="sendPrinterButton" onclick="printDiv()">
    <span class="glyphicon glyphicon-print"></span>&nbsp;Yazdır
</a>
<a class="btn btn-primary onlyPage" id="sendPrinterButtonSmall" onclick="printDiv()">
    <span class="glyphicon glyphicon-print"></span>
</a>

<a href="#login" class="btn btn-primary onlyPage" style="display: none !important;" id="loginButton">
    <span class="glyphicon glyphicon-wrench"></span>&nbsp;Sistem Yönetici Girişi
</a>
<a href="#login" class="btn btn-primary onlyPage" id="loginButtonSmall">
    <span class="glyphicon glyphicon-wrench"></span>
</a>