<div class="form-inline">
    <a href="#menu" class="btn btn-danger onlyPage" style="display: block;" id="systemAdminButton">
        <span class="glyphicon glyphicon-user"></span>&nbsp;Hoşgeldiniz
    </a>
    <a href="#menu" class="btn btn-danger onlyPage" id="systemAdminButtonSmall">
        <span class="glyphicon glyphicon-user"></span>
    </a>
    <select data-placement="top" title="Lütfen Seçiniz!" class="form-control" id="routeSelectStationPage"></select></br></br>
    <label class="forIE8">Durak İsmi</label>
    <input data-placement="top" title="Boş geçilemez!" id="stationNameAdd"
           class="form-control" placeholder="Durak İsmi"
           type="text">
    <label class="forIE8">Durak No</label>
    <input data-placement="top" title="Boş geçilemez!" onkeypress="return isCharacter(event,this.id)" id="stationNoAdd"
           class="form-control" placeholder="Durak No"
           type="text">
    <label class="forIE8">Varış Saati</label>
    <input data-placement="top" title="Boş geçilemez!" id="arrivalTimeAdd" class="form-control"
           placeholder="Varış Saati" type="text">
    <label class="forIE8">Kalkış Saati</label>
    <input data-placement="top" title="Boş geçilemez!" id="departureTimeAdd" class="form-control"
           placeholder="Kalkış Saati" type="text">
    <button class="btn btn-primary btn-sm saveStation">
        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Kaydet
    </button>
</div></br>
<table class="table table-bordered" id="stationListTable" style="background-color: white;">
    <thead class="bg-primary">
    <tr class="label-primary" style="color: white">
        <th class="col-md-1">Şehir</th>
        <th class="col-md-2">Güzergah Tipi</th>
        <th class="col-md-2">Güzergah</th>
        <th class="col-md-2">Durak İsmi</th>
        <th class="col-md-1">Durak No</th>
        <th class="col-md-1">Varış Saati</th>
        <th class="col-md-1">Kalkış Saati</th>
        <th class="editHeader col-md-1"></th>
        <th class="removeHeader col-md-1"></th>
    </tr>
    </thead>
</table>

<a href="#search" class="btn btn-primary onlyPage" id="searchListButton">
    <span class="glyphicon glyphicon-search"></span>&nbsp;Listeden Sorgula
</a>
<a href="#search" class="btn btn-primary onlyPage" id="searchListButtonSmall">
    <span class="glyphicon glyphicon-search"></span>
</a>
<a class="btn btn-primary onlyPage" id="sendPrinterButton" onclick="printDiv()">
    <span class="glyphicon glyphicon-print"></span>&nbsp;Yazdır
</a>
<a class="btn btn-primary onlyPage" id="sendPrinterButtonSmall" onclick="printDiv()">
    <span class="glyphicon glyphicon-print"></span>
</a>